<footer class="footer">
     <div class="container text-center p-5">
          <p class="text-light">&copy; 2023 Url shortener. All rights reserved.</p>
          <div class="social-icons mt-3">
               <a href="#" class="social-icon"></a>
               <a href="#" class="social-icon"></a>
               <a href="#" class="social-icon"></a>
          </div>
          <div class="additional-links mt-3">
               <a href="#">Terms of Service</a>
               <span class="mx-2">|</span>
               <a href="#">Privacy Policy</a>
               <span class="mx-2">|</span>
               <a href="#">Contact Us</a>
          </div>
     </div>
</footer>